celery
redis
django-celery-beat
Django>=4.0
mysqlclient>=2.0
djangorestframework>=3.13
drf-yasg>=1.20
django-cors-headers>=3.13
Pillow>=10.0
PyJWT>=2.0
djangorestframework-simplejwt>=5.2
celery[redis]>=5.0